<ion-header>
  <ion-toolbar>
    <ion-title>playas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let playa of playas" [routerLink]="['/', playa.id]">
      <ion-avatar>
        <img [src]="playa.imagenUrl" />
      </ion-avatar>
      <ion-label color="primary">{{playa.nombre | titlecase }}</ion-label>
    </div>    
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" type="button" (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
