<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="playas"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle del lugar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-img [src]="playa.imagenUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-text color="primary">
          <h1>Nombre</h1>
        </ion-text>
      </ion-col>
      <ion-col size="8">
        <ion-text color="primary">
          <h1>{{playa.nombre | titlecase }}</h1>
        </ion-text>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col size="4">Comentario</ion-col>
      <ion-col size="8">{{playa.comentario }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
