<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      En Blanco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <br>
  <ion-text color="primary" [routerLink]="['/pagina2']">
    <h1>Ir a página 2</h1>
  </ion-text>

</ion-content>
